<nav>
  <p><a routerLink="/">Plant Swap</a></p>
  <div id="nav-right">
    <p><a routerLink="/swaps">Open Swaps</a></p>
    <p *ngIf="dataService.loggedIn"><a routerLink="/account">My Account</a></p>
    <p *ngIf="!dataService.loggedIn"><a href="#" (click)="showLoginModal($event)">Login</a></p>
  </div>
</nav>
<div id="body-wrapper">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>🌿</p>
</footer>
<div class="modal-background" id="login-register-background" *ngIf="loginModalToggle">
  <div class="modal" id="login-register-wrapper">
    <span (click)="hideLoginModal()" class="close-modal">X</span>
    <div id="login-register-toggle-wrapper">
      <p (click)="toggleLoginRegister($event)" [ngClass]="loginClass">Log in</p>
      <p (click)="toggleLoginRegister($event)" [ngClass]="registerClass">Sign up</p>
    </div>
    <div [ngClass]="loginClass">
      <input [(ngModel)]="userDetails.username" placeholder="Username"/>
      <input [(ngModel)]="userDetails.password" placeholder="Password" type="password"/>
      <button (click)="loginOrRegister('login')">Log in</button>
    </div>
    <div [ngClass]="registerClass">
      <input [(ngModel)]="registerDetails.username" placeholder="Username"/>
      <input [(ngModel)]="registerDetails.password" placeholder="Password" type="password"/>
      <input [(ngModel)]="registerDetails.location" placeholder="Location (e.g. Chicago, IL)"/>
      <button (click)="loginOrRegister('register')">Sign up</button>
    </div>
  </div>
</div>