<p *ngIf="thisUser.id == dataService.loggedInId"><button (click)="toggleEditModal()">Edit this swap</button></p>
<img src="{{swap.image_url}}">
<p>{{swap.title}} by {{thisUser.username}}</p>
<p>{{swap.description}}</p>
<p>open? {{swap.is_open}}</p>
<ul>
	<li *ngFor="let tag of tags">{{tag.name}}</li>
</ul>
<div id="comments-wrapper">
	<div *ngFor="let comment of comments">{{comment.comment.message}}<br>
		by {{comment.user.username}}</div>
</div>
<div *ngIf="dataService.loggedIn">
	<button *ngIf="!addCommentToggle" (click)="showAddComment()">Comment or Respond</button>
	<div *ngIf="addCommentToggle">
		add comment form
		<textarea [(ngModel)]="newComment.message" placeholder="Write your comment..."></textarea>
		Private (use this if you're sending info to meet up!): <input type="checkbox" [(ngModel)]="newComment.private">
	  <button (click)="postComment()">Submit</button>
	</div>
</div>
<div *ngIf="!dataService.loggedIn">
	<p>You must log in to post comments.</p>
</div>

<div class="modal-background" *ngIf="showEditModal">
	<div class="modal">
		<span (click)="toggleEditModal()">X</span>
		<input [(ngModel)]="editSwap.title" placeholder="Title"/>
    <textarea [(ngModel)]="editSwap.description" placeholder="Description"></textarea>
    <input [(ngModel)]="editSwap.image_url" placeholder="Image URL"/>
    <input [(ngModel)]="editTagString" placeholder="Tags (separated by commas)"/>
    <button (click)="patchSwap()">Update</button>
	</div>
</div>