<div id="detail-main">
	<div id="detail-image">
		<img src="{{swap.image_url}}" (error)="swapOutImage($event)">
	</div>
	<div id="detail-info">
		<h2>{{swap.title}}</h2>
		<p>– {{thisUser.username}}</p>
		<p>{{swap.description}}</p>
		<p>This swap is <span *ngIf="swap.is_open; else closed">open</span><ng-template #closed>closed</ng-template>.</p>
		<ul class="tags-list" *ngIf="tags.length > 0">
			<li>Tags: </li>
			<li *ngFor="let tag of tags">{{tag.name}}<span class="tag-comma"></span></li>
		</ul>
		<button *ngIf="thisUser.id == dataService.loggedInId" (click)="toggleEditModal()">Edit</button>
	</div>
</div>

<div id="comments-wrapper">
	<h3>Comments</h3>
	<div *ngIf="comments.length == 0">No replies yet!</div>
	<div *ngFor="let comment of comments" [ngClass]="{'private-comment': comment.comment.private}">{{comment.user.username}} on {{comment.comment.created_at}} said:<br>
		{{comment.comment.message}}</div>
	<div *ngIf="dataService.loggedIn">
		<button *ngIf="!addCommentToggle" (click)="showAddComment()">Reply</button>
		<div *ngIf="addCommentToggle">
			<label for="comment">Comment</label>
			<textarea [(ngModel)]="newComment.message" placeholder="Write your comment..." id="comment"></textarea>
			<label><input type="checkbox" [(ngModel)]="newComment.private" /> Private (use this if you're sending info to meet up!)</label>
		  <button (click)="postComment()">Submit</button>
		</div>
	</div>
	<div *ngIf="!dataService.loggedIn">
		<p>You must log in to post comments.</p>
	</div>
</div>

<div class="modal-background" *ngIf="showEditModal">
	<div class="modal">
		<span (click)="toggleEditModal()" class="close-modal">X</span>
		<h4>Edit Swap</h4>
		<label for="title">Title</label>
		<input [(ngModel)]="editSwap.title" placeholder="Title" id="title" />
		<label for="description">Description</label>
    <textarea rows="4" [(ngModel)]="editSwap.description" placeholder="Description" id="description"></textarea>
    <label for="image-url">Image URL</label>
    <input [(ngModel)]="editSwap.image_url" placeholder="Image URL" id="image-url" />
    <label for="tags">Tags (separated by commas)</label>
    <input [(ngModel)]="editTagString" placeholder="e.g. succulent, aeonium" id="tags" />
    <button (click)="patchSwap()">Update</button>
	</div>
</div>