@background-color: beige;
@text-color: black;

body {
	background-color: @background-color;
}

#login-register-wrapper {
	p {
		color: @text-color;
		&.active {
			color: red;
		}
	}
	div {
		input, button {
			display: none;
		}
		&.active {
			input, button {
				display: block;
			}
		}
	}
}