<button (click)="toggleNewModal()">New swap</button>
<p>
  show all your swaps
  toggle open/closed
</p>
<p><a href="#" (click)="logout($event)">Log out</a></p>

<div id="swaps-list">
	<div *ngFor="let swap of swaps">
		<img src="{{swap.swap.image_url}}">
		<p>{{swap.swap.title}} by {{swap.user.username}}</p>
		<button (click)="goToDetail(swap)">View</button>
		<button (click)="revealDeleteModal(swap)">Delete</button>
		<p>{{swap.swap.description}}</p>
		<p>open? <input type="checkbox" (change)="openCloseSwap(swap)" [(ngModel)]="swap.swap.is_open"></p>
		<ul>
			<li *ngFor="let tag of swap.tags">{{tag.name}}</li>
		</ul>
	</div>
</div>

<div class="modal-background" *ngIf="showNewModal">
	<div class="modal">
		<span (click)="toggleNewModal()">X</span>
		<input [(ngModel)]="newSwap.title" placeholder="Title"/>
    <textarea [(ngModel)]="newSwap.description" placeholder="Description"></textarea>
    <input [(ngModel)]="newSwap.image_url" placeholder="Image URL"/>
    <input [(ngModel)]="newTagString" placeholder="Tags (separated by commas)"/>
    <button (click)="postSwap()">Post</button>
	</div>
</div>

<div class="modal-background" *ngIf="showDeleteModal">
	<div class="modal">
		<span (click)="showDeleteModal = !showDeleteModal;">X</span>
		<p>Are you sure you want to delete this swap? This action is irreversible and you'll no longer be able to access its comments and information. If a swap has been fulfilled, consider closing it instead.</p>
		<button (click)="showDeleteModal = !showDeleteModal;">Never mind!</button>
		<button (click)="deleteSwap(swap)">Delete this swap</button>
	</div>
</div>